{% extends "layout.html" %}


{% block header %}
  <header>
 <h1 id="team-title">Meet Our Team:</h1>
 </header>
{% endblock %}

{% block mainContent %}

<div class="container">

 
   <div class="row center">
      
    <div class="col-xs-6 col-md-3">
    <img src="paul photo.jpg" id="enchanting-hummingbird-headshot" class = "img-circle" height="180" width="180">
      <div class="caption center">
        <h3> <span id="enchanting-hummingbird-name" class="team-name"> Paul <br> Styslinger</span> </h3>
        <p class="left">Paul likes to change his Wifi passwords on a regular basis. You know, just in case.</p>
      </div>
    </div>
        
    <div class="col-xs-6 col-md-3">
    <img src="Amanda headshot.jpg"id="cautious-pig-headshot" class = "img-circle" height="180" width="180">
      <div class="caption">
        <h3>  <span id="cautious-pig-name" class="team-name"> Amanda <br> Roberts</span> </h3>
        <p class="left">Amanda is a paleontologist-in-training who enjoys being a sports announcer on the side.</p>
      </div>
    </div>
    
    <div class="col-xs-6 col-md-3">
    <img src="alexandra photo.jpg" id="lively-wolf-headshot" class = "img-circle" height="180" width="180"> 
      <div class="caption">
        <h3> <span id="lively-wolf-name" class="team-name"> Alexandra <br> Torresquintero</span> </h3>
        <p class="left">Alexandra has trouble spelling her last name on a regular basis.</p>
      </div>
    </div>
    
    <div class="col-xs-6 col-md-3">
    <img src="VENKY HEADSHOT.jpg" id="curious-walrus-headshot" class = "img-circle" height="180" width="180">
      <div class="caption">
        <h3> <span id="curious-walrus-name" class="team-name"> Venkatesh <br> Jindal</span> </h3>
        <p class="left">Venkatesh prefers to go by the nickname "Janky Venky." He also plays polo. </p>
      </div>
    </div>
    
  </div>
  
  <div class="row"> 
    <img src="Logo2.png" id="logo" class="padding col-md-2 col-md-offset-5">
  </div>
 
</div>
  

{% endblock %}