{% extends "layout.html" %}

{% block mainContent %}

<!--handle proper available days for month. This does not yet allow for Feb 29th -->
<script>
  $( document ).ready(function() {
    $("#month").change(function() {
      var selectedclass = $("#month option:selected").attr('class');
      if (selectedclass == "31month") {
        $(".option29-31").show();
      }
      else if (selectedclass == "30month") {
        $(".option29-31").show();
        $(".option31").hide();
      }
      else if (selectedclass == "febmonth") {
        $(".option29-31").hide();
      }
    })
  });
</script>

  {% if errors %}
    <div>
      <p>Please correct the following errors!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<form id="create-event" method="POST">
    <label for="title">Event title:</label>
    <input type="text" class="form-control" name="title"><br/>
    <label for="location">Event location:</label>
    <input type="text" class="form-control" name="location"><br/>
    <label for="image">Event image:</label>
    <input type="text" class="form-control" name="image" placeholder="(url)"><br/>
    <label for="month">Event date:</label>
    <select name="month" id="month">
      <option value="0" class="31month">January</option>
      <option value="1" class="febmonth">February</option>
      <option value="2" class="31month">March</option>
      <option value="3" class="30month">April</option>
      <option value="4" class="31month">May</option>
      <option value="5" class="30month">June</option>
      <option value="6" class="31month">July</option>
      <option value="7" class="31month">August</option>
      <option value="8" class="30month">September</option>
      <option value="9" class="31month">October</option>
      <option value="10" class="30month">November</option>
      <option value="11">December</option>
    </select>
    <label for="day"></label>
    <select name="day">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29" class="option29-31">29</option>
      <option value="30" class="option29-31 option30-31">30</option>
      <option value="31" class="option29-31 option30-31 option31">31</option>
    </select>
    <label for="year"></label>
    <select name="year">
      <option value="2015">2015</option>
      <option value="2016">2016</option>
    </select>
    at
    <label for="hour"></label>
    <select name="hour">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
    </select>
    :
    <label for="minute"></label>
    <select name="minute">
      <option value="0">0</option>
      <option value="30">30</option>
    </select>
    <br/>
    <input id="submit" class="btn btn-primary" type="submit"></input>
  </form>
</div>
</div>
{% endblock %}


