{% extends "layout.html" %}

{% block mainContent %}

    <li class = "event" id="event-{{event.id}}">
      <h1 id="title">{{event.title}}</h1> 
      <p><strong>When: </strong><span id="date">{{event.date|prettyDate}}</span></p>
      <p><strong>Where: </strong><span id="location">{{event.location}}</span></p>
      <p><strong>Who: </strong></p>
      <ul id = "attendees">
        {% for person in event.attending %}
        <li>{{person}}</li>
        {% endfor %}
      </ul>
      <img id="image" src = "{{event.image}}">
    </li>
  <ul class="form-errors">
    {% for error in errors %}
      <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
<form method="POST">
  <div class="col-xs-4">
  <input type="text" class="form-control" name="email" id="email" placeholder="Your email"/>
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>
<p><a class="donation" href="/donation">Click Here to <span id="supportordonate">Donate</span></a></p>

<script src="//www.google-analytics.com/cx/api.js?experiment=vgqmc9HBQN6o1DgRD__GHw"></script>

<script>
  var pageVariations = [
    function() {},  // Original: Do nothing. This will render the default HTML.
    function() {    // Variation 1: change "Donate" to "Support"
      $('#supportordonate').html("Support");
    }
  ];
  
  $(document).ready(function(){
    // Ask Google Analytics which variation to show the user.
    var chosenVariation = cxApi.chooseVariation("vgqmc9HBQN6o1DgRD__GHw");
    // Execute the chosen view
    pageVariations[chosenVariation]();
  });
  
</script>

{% endblock %}
