{% extends "layout.html" %}

{% block mainContent %}

<style>
  #image {
    float: right; 
    margin-top: -100px;
  }
  footer {
    margin-top: 200px;
  }
  form {
    padding: 10px 0px 20px 0px;
  }
</style>

    <li class = "event" id="event-{{event.id}}">
      <h1 id="title">{{event.title}}</h1> 
      <p><strong>When: </strong><span id="date">{{event.date|prettyDate}}</span></p>
      <p><strong>Where: </strong><span id="location">{{event.location}}</span></p>
      <p><strong>Who: </strong></p>
      <ul id = "attendees">
        {% for person in event.attending %}
        <li class="person">{{person}}</li>
        {% endfor %}
      </ul>
      <img id="image" src = "{{event.image}}">
    </li>
  <ul class="form-errors">
    {% for error in errors %}
      <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
<form method="POST">
  <div class="col-xs-4">
  <input type="text" class="form-control" name="email" id="email" placeholder="Your email"/>
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>
<p><a class="donation" href="/donation">Click Here to <span id="supportordonate">Donate</span></a></p>

<script src="//www.google-analytics.com/cx/api.js?experiment=t2IG0SUGSJSH0fCk-wf5sg"></script>

<script>
  var pageVariations = [
    function() {},  // Original: Do nothing. This will render the default HTML.
    function() {    // Variation 1: change "Donate" to "Support"
      $('#supportordonate').html("Support");
    }
  ];
  
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
  
  $(document).ready(function(){
    $( ".person" ).each(function( index ) {
      var tempval = $(this).html();
      var tempval1 = tempval.split("@")[0];
      var tempval2 = tempval1.split(".");
      $(this).html(capitalizeFirstLetter(tempval2[0]) + " " + capitalizeFirstLetter(tempval2[1]));
    });
    
    // Ask Google Analytics which variation to show the user.
    var chosenVariation = cxApi.chooseVariation("t2IG0SUGSJSH0fCk-wf5sg");
    // Execute the chosen view
    pageVariations[chosenVariation]();
  });
  
</script>

{% endblock %}
