{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }}</h1>
    <h5 class="tagline">{{ tagline }}</h5>
    <div class="center">
     <img src="Logo2.png" id="logo">
     </div>
  </header>

{% endblock %}

{% block mainContent %}
  <div class="green-div">
    <h4>Upcoming Events:</h4>
  </div>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
   <p class="center">
      <a id="new" href="/events/new">  <button type="button" class="btn btn-success btn-lg"> Create a new event </button></a>
  </p>
  <p class="center padding">
    Also, be sure to check out <a href="/about">Our Team</a> page
    as well as the <a href="/events">List of All Events</a>.
  </p>
 

  
{% endblock %}