{% extends "layout.html" %}

{% block header %}
  <header>
    <div class="row">
        <h1 class="col-md-6 col-md-offset-3">{{ title }}</h1>
    </div>
    <h5 class="tagline">{{ tagline }}</h5>
  </header>

{% endblock %}

{% block mainContent %}
<div class="index-background">
 <p class="center">
      <a id="new" href="/events/new">  <button type="button" class="btn btn-success btn-lg"> Create a new event </button></a>
  </p>
  <p class="center padding">
    Also, be sure to check out <a href="/about">Our Team</a> page
    as well as the <a href="/events">List of All Events</a>.
  </p>
</div>
  <div class="green-div">
    <h4>Upcoming Events:</h4>
  </div>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
   
{% endblock %}