body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #5ABDDD;
  color: #FCFDFF;
}

a {
  color: #FCFDFF;
}

.form-errors {
	color: red;
}

.container {
  margin: 0 auto;
}

.navbar-wrapper {
  width: 100%;
  margin: 0 auto;
}

.navbar-custom {
    background-color: #002828;
    border-color: #E7E7E7;
    color: white;
    padding: 10px 40px 10px 40px;
}

.navbar-custom a {
    color: white;
}

.team-name {
  text-align: center;
  font-size: 30px;
}

header {
  padding: 20px;
}

.brand {
  margin-top:-10px;
}

.footer-element {
  padding: 0 20px;
  font-size:14px;
}

h1 {
  text-align:center;
  font-size: 50px;
}

.tagline {
  font-style:italic;
  text-align: center;
  padding-bottom:20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.left {
  text-align: left;
}

#team-title {
  font-style:italic;
  padding:20px;
}

.padding {
  padding: 20px
}

.green-div {
  background-color:#002828;
  display:inline-block;
  padding:8px 20px;
  border-radius:10px;
  margin:10px;
  
}

.btn-success {
  background-color:#0EAF92;
  border-color:#002828;;
}

li {
  list-style: none;
}

.allEvents {
  padding-top:20px;
}

.padding-top-bottom {
  padding-bottom:10px;
  padding-top: 10px;
}

.index-background {
  background-image: url("maxresdefault.jpg");
  padding:100px;
  margin-top: -2%;
  margin-left:-20%;
  margin-right:-20%;
  margin-bottom: 1%;
  background-size: cover;
  
}